* {
  margin: 1;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/fondo-css.webp);
}


.item-nav {
  padding: 10px 30px;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.item-nav:hover {
  background: rgba(50, 61, 53, 0.336);
}

.logo:hover {
  animation: Change-things 4s;
}

@keyframes Change-things {
  0% {
    scale: 0.5;
  }

  15% {
    width: 100px;
  }

  50% {
    background-color: rgb(71, 71, 252);
    border-radius: 50%;

  }

  100% {
    rotate: -0.25turn;
  }
}



.ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsla(160, 72%, 72%, 0.363);
  width: 100%;

}

li {
  display: flex;
  text-decoration: none;
}

.logo {
  width: 95px;

}


.primer-imagen img {
  height: 869px;
  width: 100%;
  

}


h1 {
  text-align: center;
  padding: 10px;
}

.reviews-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  padding: 20px;
  margin: 100px;
  grid-gap: 100px;


}

.reviews-ppl {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  width: 100%;
  margin: 0;
  padding: 10px;
}

.img-review {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-class {
  position: relative;
}






.contacto {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}




.contacto .map {
  flex: 1 1 1 30rem;
  width: 100%;
  margin: 10px;
}

.form {
  flex: 1 1 30rem;
  padding: 3rem 2rem;


}





.redes {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.img-fc {
  width: 45px;
}

.img-fc:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

.img-ig {
  width: 45px;
}
.img-ig:hover {
  transform: scale(1.5);
  transition: 0.5s;
}

.img-tw {
  width: 45px;
}

.img-tw:hover {
  transform: scale(1.5);
  transition: 0.5s;
}


/* Media query de index */

@media (max-width:768px) {
  .ul {
    flex-direction: column;
  }

  .reviews-container {
    grid-column: 1/ span 3;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
  }

  .reviews-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .img-class {
    grid-column-start: span 4;
  }


}

.button-final {
  width: 100px;
  height: 50px;
  background-color: grey;

}

.button-final-1 {
  text-decoration: none;
  color: black;
  
 
}

.input-1 {
  display: none;
}
/* Media query de productos */


@media (max-width:768px) {
  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-item {
    grid-column-start: span 2;
  }
}









/* CSS de productos */




.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  padding: 20px;
  grid-gap: 100px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item {
  position: relative;
}

.gallery-title {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  width: 100%;
  margin: 0;
  padding: 10px;
}