/* footer */
  
.button-final {
    width: 100px;
    height: 50px;
    background-color: grey;
  
  }
  
  .button-final-1 {
    text-decoration: none;
    color: black;
    
   
  }
  
  .input-1 {
    display: none;
  }
  .contacto {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  
  
  
  .contacto .map {
    flex: 1 1 1 30rem;
    width: 100%;
    
  }
  
  .form {
    flex: 1 1 30rem;
    padding: 3rem 2rem;
  
  
  }
  
  #contacto {
    padding: 30px;
    margin: 0px;
  }
  
  
  
  
  .redes {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .img-fc {
    width: 45px;
  }
  
  .img-fc:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }
  
  .img-ig {
    width: 45px;
  }
  .img-ig:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }
  
  .img-tw {
    width: 45px;
  }
  
  .img-tw:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }