/* footer */

.button-final {
    width: 100px;
    height: 50px;
    background-color: grey;

}

.button-final-1 {
    text-decoration: none;
    color: black;


}

.input-1 {
    display: none;
}

.form {
    flex: 1 1 30rem;
    padding: 3rem 2rem;


}




.redes {
    display: flex;
    align-items: center;
    justify-content: space-around;


    .img-fc {
    width: 45px;
        &:hover {
        transform: scale(1.5);
        transition: 0.5s;
        }
    }



    .img-ig {
    width: 45px;
        &:hover {
        transform: scale(1.5);
        transition: 0.5s;
        }
    }



    .img-tw {
    width: 45px;
        &:hover {
        transform: scale(1.5);
        transition: 0.5s;
        }
    }

}