/* header nesting  */

.bg-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsla(160, 72%, 72%, 0.363);
    width: 100%;

    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: space-around;

        width: 100%;
        .nav-link {
            padding: 10px 30px;
            text-decoration: none;
            color: rgb(0, 0, 0);
    
            &:hover {
                background: rgba(50, 61, 53, 0.336);
            }
    
            .ul {
                
                align-items: center;
                justify-content: space-around;
                background-color: hsla(160, 72%, 72%, 0.363);
                width: 100%;
        
                .li {
                    
                    text-decoration: none;
                    
                  
                
                                  
                    
                }
            }
        }
    }

}

#logo {
    display: flex;
    width: 95px;
    height: auto;
    &:hover {
        animation: Change-things 4s;
      }
      
      @keyframes Change-things {
        0% {
          scale: 0.5;
        }
      
        15% {
          width: 100px;
        }
      
        50% {
          background-color: rgba(116, 226, 204, 0.568);
          border-radius: 50%;
      
        }
      
        100% {
          rotate: -0.25turn;
        }
    }
                         
}

