/* Main */
.primer-imagen img {
    height: 869px;
    width: 100%;


}


h1 {
    text-align: center;
    padding: 10px;

    &:hover::after {
        content: '🎨';
    }
}



.h2-2 {
    display: flex;
    justify-content: center;
    color: rgb(13, 87, 62);
}

.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    margin: 100px;
    grid-gap: 100px;


}

.reviews-ppl {
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
    width: 100%;
    margin: 0;
    padding: 10px;
}

.img-review {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-class {
    position: relative;
}

/* Media query de index */

@media (max-width:768px) {
    .ul {
      flex-direction: column;
    }
  
    .reviews-container {
      grid-column: 1/ span 3;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 300px;
    }
  
    .reviews-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .img-class {
      grid-column-start: span 4;
    }
  
  
  }

  /* Media query de productos */
  
  
  @media (max-width:768px) {
    .gallery-container {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .gallery-item {
      grid-column-start: span 2;
    }
  }
  
  
  
  
  
  
  
  
  
  /* CSS de productos */
  
  
  
  
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    padding: 20px;
    grid-gap: 100px;
  
    .gallery-item {
      position: relative;
    
      .gallery-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
        

      .gallery-title {
        position: absolute;
        bottom: 0;
        color: white;
        background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
        width: 100%;
        margin: 0;
        padding: 10px;
      }

    }
  
  }
  


  
