/* % --> placeholder + nombre */

%mensaje {
    border: 1px solid black;
    padding: 10px;
    border-radius: 6px;
}

%flexbox {
    display: flex;
    justify-content: center;
}

/* Boton de error, ok, cancel, disabled */
.error {
    background-color: red;
    ;
    @extend %mensaje;
    @extend %flexbox;

}

.accept {
    background-color: green;
    @extend %mensaje;
}

.disabled {
    background-color: gray;
    @extend %mensaje;
}